html,
body {
  margin: 0;
  padding: 0;
}

#es-rc #es-rc-content {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  max-width: 990px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000000;
  background: #ffffff;
}
#es-rc #es-rc-content ::-moz-selection {
  background-color: #0058bf;
  color: #ffffff;
}
#es-rc #es-rc-content ::selection {
  background-color: #0058bf;
  color: #ffffff;
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
}
#es-rc #es-rc-content p {
  margin: 0;
}
#es-rc #es-rc-content img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-header {
  font-size: 14px;
  font-weight: 700;
}
#es-rc #es-rc-content .es-header--bold {
  font-size: 24px;
  font-weight: 700;
}
#es-rc #es-rc-content .es-kv {
  margin-bottom: 30px;
}
#es-rc #es-rc-content .es-kv__right-img--desktop {
  display: none;
}
#es-rc #es-rc-content .es-kv__left {
  text-align: center;
  margin-block: 2em;
}
#es-rc #es-rc-content .es-kv__right img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
#es-rc #es-rc-content .es-kv__logo {
  padding: 16px;
  max-width: 150px;
  margin: auto;
}
#es-rc #es-rc-content .es-kv__title {
  margin-bottom: 10px;
  background-color: #ffad00;
  color: #ffffff;
  padding: 16px;
  font-weight: 700;
  text-align: right;
}
#es-rc #es-rc-content .es-kv__textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 32px;
}
#es-rc #es-rc-content .es-kv__info {
  margin-bottom: 10px;
  margin-right: 10px;
  color: #0058bf;
  text-align: center;
  border-radius: 12px 0;
  font-size: 25px;
  font-weight: 700;
  text-align: right;
  transition: all 200ms ease-in-out;
}
#es-rc #es-rc-content .es-kv__info:hover {
  scale: 1.1;
}
#es-rc #es-rc-content .es-kv__packshot {
  padding: 32px 16px;
  max-width: 80%;
  margin: auto;
}
#es-rc #es-rc-content .es-features {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  overflow: hidden;
}
#es-rc #es-rc-content .es-features__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
}
#es-rc #es-rc-content .es-features__bg img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left;
  object-position: left;
  height: 100%;
}
#es-rc #es-rc-content .es-features__title {
  background-color: #3fb3ee;
  color: #ffffff;
  padding: 16px;
  text-align: center;
  width: 100%;
}
#es-rc #es-rc-content .es-features__wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 40px 16px;
  width: 80%;
}
#es-rc #es-rc-content .es-features__single {
  display: flex;
  align-items: center;
  gap: 16px;
  transition: all 200ms ease-in-out;
}
#es-rc #es-rc-content .es-features__single:hover {
  margin-left: -8px;
}
#es-rc #es-rc-content .es-features__packshot {
  max-width: 50%;
}
#es-rc #es-rc-content .es-features__right-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #0058bf;
}
#es-rc #es-rc-content .es-features__right-description {
  max-width: 375px;
  margin: 0 auto;
  padding: 16px;
  text-align: center;
}
#es-rc #es-rc-content .es-features__icon {
  max-width: 50px;
}
#es-rc #es-rc-content .es-features__text {
  width: 100%;
}
#es-rc #es-rc-content .es-features__reference {
  font-size: 0.8em;
  padding-bottom: 32px;
}
#es-rc #es-rc-content .es-features__line {
  display: none;
}
#es-rc #es-rc-content .es-formula {
  position: relative;
  z-index: 1;
  margin-bottom: 32px;
}
#es-rc #es-rc-content .es-formula .es-header {
  text-align: center;
  padding: 16px;
  background-color: #0058bf;
  color: #ffffff;
}
#es-rc #es-rc-content .es-formula__bg {
  display: none;
  position: absolute;
  width: 200%;
  z-index: -1;
}
#es-rc #es-rc-content .es-formula__title {
  font-weight: 700;
  font-size: 100px;
  color: #0058bf;
  text-align: center;
}
#es-rc #es-rc-content .es-formula__wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}
#es-rc #es-rc-content .es-formula__single {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: rgba(255, 255, 255, 0.0980392157);
  padding: 16px;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
#es-rc #es-rc-content .es-formula__textTitle {
  color: #0058bf;
  font-weight: 700;
  width: 85%;
  max-width: 300px;
  text-align: center;
  margin: auto;
  font-size: 22px;
  padding-block: 4px;
}
#es-rc #es-rc-content .es-formula__text {
  text-align: center;
}
#es-rc #es-rc-content .es-formula__plus {
  color: #0058bf;
  font-size: 44px;
  font-weight: 700;
  text-align: center;
}
#es-rc #es-rc-content .es-ba {
  margin-bottom: 50px;
}
#es-rc #es-rc-content .es-ba__left-title {
  max-width: 500px;
  color: #0058bf;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
#es-rc #es-rc-content .es-ba__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 16px;
}
#es-rc #es-rc-content .es-ba__left-inner {
  position: relative;
}
#es-rc #es-rc-content .es-ba__left-before {
  padding: 8px;
  position: absolute;
  top: 0%;
  left: 15%;
  color: #ffffff;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-ba__left-after {
  padding: 8px;
  position: absolute;
  top: 0%;
  right: 17%;
  color: #ffffff;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-ba__left-image {
  margin-bottom: 40px;
}
#es-rc #es-rc-content .es-ba__left-disclaimer {
  max-width: 500px;
  font-size: 11px;
  text-align: center;
}
#es-rc #es-rc-content .es-formule {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#es-rc #es-rc-content .es-formule__left {
  position: relative;
}
#es-rc #es-rc-content .es-formule__right {
  position: relative;
}
#es-rc #es-rc-content .es-formule__left-title-1 {
  position: absolute;
  top: 5%;
  left: 9%;
  border-radius: 0 10px 0 0;
  background-color: rgba(255, 255, 255, 0.5);
  color: #0058bf;
  font-weight: 700;
  padding: 8px;
  padding-left: 20px;
  padding-right: 30px;
  font-size: 14px;
}
#es-rc #es-rc-content .es-formule__left-title-2 {
  position: absolute;
  top: 25%;
  right: 5%;
  border-radius: 0 10px 0 0;
  background-color: rgba(255, 255, 255, 0.5);
  color: #0058bf;
  font-weight: 700;
  padding: 8px;
  padding-left: 20px;
  padding-right: 30px;
  font-size: 14px;
}
#es-rc #es-rc-content .es-formule__right-title-1 {
  position: absolute;
  top: 56%;
  left: 13%;
  border-radius: 0 10px 0 0;
  background-color: rgba(255, 255, 255, 0.5);
  color: #0058bf;
  font-weight: 700;
  padding: 8px;
  padding-left: 20px;
  padding-right: 30px;
  font-size: 14px;
}
#es-rc #es-rc-content .es-formule__right-title-2 {
  position: absolute;
  top: 75%;
  right: 5%;
  border-radius: 0 10px 0 0;
  background-color: rgba(255, 255, 255, 0.5);
  color: #0058bf;
  font-weight: 700;
  padding: 8px;
  padding-left: 20px;
  padding-right: 30px;
  font-size: 14px;
}
#es-rc #es-rc-content .es-cross {
  position: relative;
  z-index: 0;
}
#es-rc #es-rc-content .es-cross__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}
#es-rc #es-rc-content .es-cross__bg-desktop {
  display: none;
}
#es-rc #es-rc-content .es-cross__bg img {
  height: 100%;
  width: 100%;
}
#es-rc #es-rc-content .es-cross__left {
  display: flex;
  flex-direction: column;
  padding: 40px 32px;
  gap: 20px;
}
#es-rc #es-rc-content .es-cross__odkryj {
  background-color: #0058bf;
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  padding: 8px 32px;
  font-weight: 700;
  border-radius: 0 8px;
  width: -moz-max-content;
  width: max-content;
}
#es-rc #es-rc-content .es-cross .es-header {
  padding: 6px 12px;
  color: #ffffff;
  background: #0058bf;
  border-radius: 0 10px 0 0;
  font-size: 25px;
  font-weight: 700;
}
#es-rc #es-rc-content .es-cross .es-header--bold {
  display: block;
}
#es-rc #es-rc-content .es-cross__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 32px 16px;
}
#es-rc #es-rc-content .es-cross__single {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  padding: 8px;
  border-radius: 8px;
  text-decoration: none;
  width: 50%;
}
#es-rc #es-rc-content .es-cross__single:hover {
  background-color: rgba(255, 255, 255, 0.0980392157);
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 1, 0.1);
}
#es-rc #es-rc-content .es-cross__img {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#es-rc #es-rc-content .es-cross__img img {
  max-width: 100%;
  height: 100%;
}
#es-rc #es-rc-content .es-cross__img--1 {
  max-height: 285px;
}
#es-rc #es-rc-content .es-cross__img--2 {
  max-height: 210px;
}
#es-rc #es-rc-content .es-cross__img--3 {
  max-height: 240px;
  max-width: 110px !important;
  height: auto !important;
}
#es-rc #es-rc-content .es-cross__name {
  background-color: #ffad00;
  color: #ffffff;
  padding: 8px 20px;
  font-weight: 700;
  text-align: center;
  width: -moz-max-content;
  width: max-content;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-cross__desc {
  font-weight: 700;
  text-align: center;
  color: #0058bf;
}
#es-rc #es-rc-content .es-ekspert__left img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
#es-rc #es-rc-content .es-ekspert__logo {
  padding-block: 40px;
  padding-bottom: 0;
}
#es-rc #es-rc-content .es-ekspert__logo img {
  max-width: 120px;
}
#es-rc #es-rc-content .es-ekspert__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
  padding: 16px;
  max-width: 444px;
  margin: auto;
}
#es-rc #es-rc-content .es-ekspert__single {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
  padding: 16px;
  border-radius: 20px;
  transition: all 200ms ease-in-out;
}
#es-rc #es-rc-content .es-ekspert__single:hover {
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 1, 0.1);
}
#es-rc #es-rc-content .es-ekspert__icon {
  background-color: #0058bf;
  padding: 8px;
  border-radius: 8px;
  width: 80px;
  height: 80px;
  display: grid;
  place-items: center;
}
@media (min-width: 576px) and (max-width: 719px) {
  #es-rc #es-rc-content .es-kv__packshot {
    display: none;
  }
}
@media (max-width: 719px) {
  #es-rc #es-rc-content .es-kv__packshot img {
    max-height: 300px;
  }
}
@media (min-width: 600px) {
  #es-rc #es-rc-content .es-formule {
    flex-direction: row;
    margin-bottom: 80px;
  }
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-features {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    align-items: flex-start;
    position: relative;
    flex-direction: row;
    gap: 10px;
    min-height: 400px;
    align-items: center;
  }
  #es-rc #es-rc-content .es-features__inner {
    margin-top: -130px;
  }
  #es-rc #es-rc-content .es-features__packshot {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    max-width: 23%;
  }
  #es-rc #es-rc-content .es-features__line {
    display: block;
    position: absolute;
    bottom: 27%;
    left: 84%;
    z-index: -1;
    transform: translate(-50%, 0%);
    max-width: 50%;
  }
  #es-rc #es-rc-content .es-features__left, #es-rc #es-rc-content .es-features__right {
    min-width: 50%;
  }
  #es-rc #es-rc-content .es-features__bg {
    width: 100%;
    height: 100%;
  }
  #es-rc #es-rc-content .es-features__bg img {
    -o-object-position: center;
    object-position: center;
    height: 100%;
    width: 100%;
  }
  #es-rc #es-rc-content .es-features__title {
    width: 65%;
    margin-top: 32px;
    padding: 8px;
    border-radius: 0 0 8px 0;
    max-width: 510px;
  }
  #es-rc #es-rc-content .es-features__wrapper {
    padding: 32px 0px 32px 32px;
    width: 65%;
    max-width: 510px;
  }
  #es-rc #es-rc-content .es-features__reference {
    padding-left: 70px;
  }
  #es-rc #es-rc-content .es-formula__bg {
    width: 100%;
  }
  #es-rc #es-rc-content .es-formula .es-header {
    max-width: -moz-max-content;
    max-width: max-content;
    padding-inline: 50px;
    border-radius: 8px 0 8px 0;
    margin: auto;
    margin-left: 0;
  }
  #es-rc #es-rc-content .es-formula__title {
    padding-top: 32px;
  }
  #es-rc #es-rc-content .es-formula__single {
    background-color: transparent;
    -webkit-backdrop-filter: unset;
    backdrop-filter: unset;
  }
  #es-rc #es-rc-content .es-cross__wrapper {
    flex-direction: row;
    align-items: flex-end;
  }
  #es-rc #es-rc-content .es-cross__single {
    width: 33%;
    height: 100%;
    -webkit-backdrop-filter: unset;
    backdrop-filter: unset;
  }
  #es-rc #es-rc-content .es-cross__single img,
  #es-rc #es-rc-content .es-cross__name {
    transition: all 200ms ease-in-out;
  }
  #es-rc #es-rc-content .es-cross__single:hover {
    background-color: unset;
    box-shadow: unset;
  }
  #es-rc #es-rc-content .es-cross__single:hover img {
    scale: 1.1;
  }
  #es-rc #es-rc-content .es-cross__single:hover .es-cross__name {
    background-color: #0058bf;
  }
  #es-rc #es-rc-content .es-cross__desc {
    height: 4em;
  }
}
@media (min-width: 720px) {
  #es-rc #es-rc-content .es-kv {
    display: flex;
    position: relative;
    min-height: 500px;
  }
  #es-rc #es-rc-content .es-kv__right {
    min-height: 500px;
    width: 100%;
  }
  #es-rc #es-rc-content .es-kv__left {
    width: 50%;
    position: absolute;
    margin: 0;
  }
  #es-rc #es-rc-content .es-kv__packshot {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 18%;
    max-width: 170px;
  }
  #es-rc #es-rc-content .es-kv__left {
    text-align: left;
  }
  #es-rc #es-rc-content .es-kv__right img {
    height: 100%;
    -o-object-position: center;
    object-position: center;
  }
  #es-rc #es-rc-content .es-kv__right-img--mobile {
    display: none;
  }
  #es-rc #es-rc-content .es-kv__right-img--desktop {
    display: block;
  }
  #es-rc #es-rc-content .es-kv__logo {
    margin: 40px 32px;
    padding: unset;
    max-width: 120px;
  }
  #es-rc #es-rc-content .es-kv__title {
    padding: 16px 32px 16px 40px;
  }
  #es-rc #es-rc-content .es-kv__textWrapper {
    align-items: flex-start;
  }
  #es-rc #es-rc-content .es-kv__text {
    max-width: 345px;
  }
  #es-rc #es-rc-content .es-features__text {
    font-size: 1.5em;
  }
  #es-rc #es-rc-content .es-formula {
    padding-bottom: 50px;
    position: relative;
    z-index: 0;
  }
  #es-rc #es-rc-content .es-formula__bg {
    display: block;
    width: 140%;
  }
  #es-rc #es-rc-content .es-formula__wrapper {
    flex-direction: row;
    padding: 32px;
    padding-top: 0;
    justify-content: center;
  }
  #es-rc #es-rc-content .es-formula__single {
    flex-basis: 50%;
    display: grid;
    align-content: flex-start;
    max-width: 420px;
  }
  #es-rc #es-rc-content .es-formula__single:hover {
    box-shadow: 1px 1px 15px 3px rgba(0, 0, 1, 0.1);
  }
  #es-rc #es-rc-content .es-cross {
    position: relative;
    z-index: 0;
    display: flex;
    min-height: 500px;
  }
  #es-rc #es-rc-content .es-cross__bg-mobile {
    display: none;
  }
  #es-rc #es-rc-content .es-cross__bg-desktop {
    display: block;
  }
  #es-rc #es-rc-content .es-cross__img {
    display: none;
  }
  #es-rc #es-rc-content .es-cross__left {
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
    width: 40%;
  }
  #es-rc #es-rc-content .es-cross__wrapper {
    padding: 0 16px;
    width: 53%;
    margin: 0 auto;
  }
  #es-rc #es-rc-content .es-cross__single {
    -webkit-backdrop-filter: unset;
    backdrop-filter: unset;
    height: 100%;
    justify-content: flex-end;
    padding: 8px 0;
  }
  #es-rc #es-rc-content .es-cross__name {
    font-size: 13px;
    padding: 6px 12px;
    width: 90%;
    height: 4em;
    display: grid;
    place-items: center;
  }
  #es-rc #es-rc-content .es-cross__desc {
    font-size: 11px;
    height: 4em;
  }
  #es-rc #es-rc-content .es-ekspert {
    display: flex;
    align-items: center;
  }
  #es-rc #es-rc-content .es-ekspert__left {
    width: 54%;
  }
  #es-rc #es-rc-content .es-ekspert__right {
    width: 46%;
  }
  #es-rc #es-rc-content .es-ekspert__left img {
    height: 100%;
    max-height: 500px;
  }
}
@media (min-width: 750px) {
  #es-rc #es-rc-content .es-cross__name {
    height: unset;
  }
  #es-rc #es-rc-content .es-ba {
    display: flex;
    flex-direction: row;
  }
  #es-rc #es-rc-content .es-ba__left-title {
    font-size: 25px;
    max-width: 400px;
  }
  #es-rc #es-rc-content .es-ba__right {
    margin-left: -30px;
  }
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-formula__bg {
    width: 100%;
  }
  #es-rc #es-rc-content .es-bubbles {
    margin-top: -110px;
  }
  #es-rc #es-rc-content .es-cross {
    padding-bottom: 5px;
    margin-bottom: 50px;
  }
  #es-rc #es-rc-content .es-cross__left {
    padding-left: 50px;
  }
}/*# sourceMappingURL=styles.css.map */