$ff-base: 'Montserrat', sans-serif;
$fw-regular: 400;
$fw-bold: 700;
$fs-base: 14px;
$fs-header: 22px;
$color-text: #000000;
$color-yellow: #ffad00;
$color-blue: #0058bf;
$color-white: #ffffff;

$padding-XS: 8px;
$padding-S: 16px;
$padding-M: 20px;
$padding-L: 32px;
$padding-XL: 40px;
$padding-XXL: 50px;

html,
body {
  margin: 0;
  padding: 0;
}

#es-rc #es-rc-content {
  font-family: $ff-base;
  font-size: $fs-base;
  font-weight: $fw-regular;
  line-height: 1.4;
  max-width: 990px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: $color-text;
  background: $color-white;

  ::-moz-selection {
    background-color: $color-blue;
    color: $color-white;
  }

  ::selection {
    background-color: $color-blue;
    color: $color-white;
  }

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
    line-height: inherit;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  .es-header {
    font-size: 14px;
    font-weight: $fw-bold;
  }

  .es-header--bold {
    font-size: 24px;
    font-weight: $fw-bold;
  }

  .es-kv {
    margin-bottom: 30px;

    &__logo-img {
      max-width: 90%;
    }

    &__right-img {
      &--desktop {
        display: none;
      }
    }

    &__left {
      text-align: center;
      margin-block: 2em;
    }

    &__right img {
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
    }

    &__logo {
      padding: $padding-S;
      max-width: 150px;
      margin: auto;
    }

    &__title {
      padding: 0;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 10px;
      background-color: $color-yellow;
      color: $color-white;
      font-weight: $fw-bold;
      text-align: right;
    }

    &__textWrapper {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      gap: $padding-M;
      padding-top: 20px;
      text-align: right;
      padding-right: 5px;
    }

    &__info {
      margin-bottom: 10px;
      margin-right: 10px;
      color: $color-blue;
      text-align: center;
      border-radius: 12px 0;
      font-size: 25px;
      font-weight: $fw-bold;
      text-align: right;
      -webkit-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;
    }

    &__info:hover {
      scale: 1.1;
    }

    &__packshot {
      padding: $padding-L $padding-S;
      max-width: 80%;
      margin: auto;
    }
  }

  .es-features {
    position: relative;
    z-index: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    gap: $padding-L;
    overflow: hidden;

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100%;
    }

    &__bg img {
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: left;
      object-position: left;
      height: 100%;
    }

    &__title {
      color: $color-white;
      padding: $padding-S;
      text-align: center;
      width: 100%;
    }

    &__wrapper {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      gap: $padding-XS;
      padding: $padding-XL $padding-S;
      width: 80%;
    }

    &__single {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      gap: $padding-S;
      -webkit-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;
    }

    &__single:hover {
      margin-left: -$padding-XS;
    }

    &__packshot {
      max-width: 50%;
      display: none;
    }

    &__right-title {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 20px;
      text-align: center;
      color: $color-blue;
    }

    &__right-description {
      max-width: 375px;
      margin: 0 auto;
      padding: $padding-S;
      text-align: center;
    }

    &__icon {
      max-width: 50px;
    }

    &__text {
      width: 100%;
    }

    &__reference {
      font-size: 0.8em;
      padding-bottom: $padding-L;
    }

    &__line {
      display: none;
    }
  }

  .es-formula {
    position: relative;
    z-index: 1;
    margin-bottom: $padding-L;

    .es-header {
      text-align: center;
      padding: $padding-S;
      background-color: $color-blue;
      color: $color-white;
    }

    &__bg {
      display: none;
      position: absolute;
      width: 200%;
      z-index: -1;
    }

    &__title {
      font-weight: 700;
      font-size: 80px;
      color: $color-blue;
      text-align: center;
    }

    &__wrapper {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      padding: $padding-S;
      gap: $padding-S;
    }

    &__single {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      gap: $padding-S;
      background-color: #ffffff19;
      border-radius: $padding-XS;
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
    }

    &__textTitle {
      color: $color-blue;
      font-weight: $fw-bold;
      width: 85%;
      max-width: 300px;
      text-align: center;
      margin: auto;
      font-size: $fs-header;
      padding-block: calc($padding-XS/2);
    }

    &__text {
      text-align: center;
    }

    &__plus {
      color: $color-blue;
      font-size: calc(2 * $fs-header);
      font-weight: $fw-bold;
      text-align: center;
    }
  }

  .es-ba {
    margin-bottom: 50px;

    &__left-title {
      max-width: 500px;
      color: $color-blue;
      font-weight: 700;
      font-size: 18px;
      text-align: center;
    }

    &__left {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      gap: 10px;
      padding: $padding-S;
    }

    &__left-inner {
      position: relative;
    }

    &__left-before {
      padding: $padding-XS;
      position: absolute;
      top: 0%;
      left: 15%;
      color: $color-white;
      text-transform: uppercase;
    }

    &__left-after {
      padding: $padding-XS;
      position: absolute;
      top: 0%;
      right: 17%;
      color: $color-white;
      text-transform: uppercase;
    }

    &__left-image {
      margin-bottom: 20px;
    }

    &__left-disclaimer {
      max-width: 354px;
      font-size: 8px;
      text-align: center;
    }

    &__right-image {
      display: none;
    }
  }

  .es-formule {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    gap: 10px;

    &__left {
      position: relative;
    }

    &__right {
      position: relative;
    }

    &__left-title-1 {
      position: absolute;
      top: 5%;
      left: 9%;
      border-radius: 0 10px 0 0;
      background-color: rgba(255, 255, 255, 0.5);
      color: $color-blue;
      font-weight: 700;
      padding: $padding-XS;
      padding-left: 20px;
      padding-right: 30px;
      font-size: 14px;
      border: 2px solid $color-white;
    }

    &__left-title-2 {
      position: absolute;
      top: 25%;
      right: 5%;
      border-radius: 0 10px 0 0;
      background-color: rgba(255, 255, 255, 0.5);
      color: $color-blue;
      font-weight: 700;
      padding: $padding-XS;
      padding-left: 20px;
      padding-right: 30px;
      font-size: 14px;
      border: 2px solid $color-white;
    }

    &__right-title-1 {
      position: absolute;
      top: 56%;
      left: 13%;
      border-radius: 0 10px 0 0;
      background-color: rgba(255, 255, 255, 0.5);
      color: $color-blue;
      font-weight: 700;
      padding: $padding-XS;
      padding-left: 20px;
      padding-right: 30px;
      font-size: 14px;
      border: 2px solid $color-white;
    }

    &__right-title-2 {
      position: absolute;
      top: 75%;
      right: 5%;
      border-radius: 0 10px 0 0;
      background-color: rgba(255, 255, 255, 0.5);
      color: $color-blue;
      font-weight: 700;
      padding: $padding-XS;
      padding-left: 20px;
      padding-right: 30px;
      font-size: 14px;
      border: 2px solid $color-white;
    }
  }

  .es-cross {
    position: relative;
    z-index: 0;

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100%;
      width: 100%;

      &-desktop {
        display: none;
      }
    }

    &__bg img {
      height: 100%;
      width: 100%;
    }

    &__left {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      padding: $padding-XL $padding-L;
      gap: $padding-M;
    }

    &__odkryj {
      background-color: $color-blue;
      color: $color-white;
      font-size: $fs-header;
      text-align: center;
      padding: $padding-XS $padding-L;
      font-weight: $fw-bold;
      border-radius: 0 $padding-XS;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
    }

    .es-header {
      padding: 6px 12px;
      color: $color-white;
      background: $color-blue;
      border-radius: 10px 0px 0 0;
      font-size: 25px;
      font-weight: 700;
    }

    .es-header--bold {
      display: block;
    }

    &__wrapper {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      gap: $padding-S;
      padding: $padding-L $padding-S;
    }

    &__single {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      gap: $padding-XS;
      -webkit-box-align: center;
      align-items: center;
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
      padding: $padding-XS;
      border-radius: $padding-XS;
      text-decoration: none;
      width: 50%;
    }

    &__single:hover {
      background-color: rgba(255, 255, 255, 0.0980392157);
      box-shadow: 1px 1px 15px 3px rgba(0, 0, 1, 0.1);
    }

    &__img {
      height: 100%;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-pack: end;
      justify-content: flex-end;
    }

    &__img img {
      max-width: 100%;
      height: 100%;
    }

    &__img--1 {
      max-height: 285px;
    }

    &__img--2 {
      max-height: 210px;
    }

    &__img--3 {
      max-height: 240px;
      max-width: 110px !important;
      height: auto !important;
    }

    &__name {
      background-color: $color-yellow;
      color: $color-white;
      padding: $padding-XS $padding-M;
      font-weight: $fw-bold;
      text-align: center;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      text-transform: uppercase;
    }

    &__desc {
      font-weight: 700;
      text-align: center;
      color: $color-blue;
    }
  }

  .es-ekspert {
    &__left img {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
    }

    &__logo {
      padding-block: $padding-XL;
      padding-bottom: 0;
    }

    &__logo img {
      max-width: 160px;
    }

    &__wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: $padding-L;
      padding: $padding-S;
      max-width: 444px;
      margin: auto;
    }

    &__single {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      gap: $padding-S;
      text-align: center;
      border-radius: $padding-M;
      -webkit-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;
    }

    &__single:hover {
      box-shadow: 1px 1px 15px 3px rgba(0, 0, 1, 0.1);
    }

    &__icon {
      background-color: $color-blue;
      padding: $padding-XS;
      border-radius: $padding-XS;
      width: 60px;
      height: 60px;
      display: grid;
      place-items: center;
    }
  }

  @media (min-width: 576px) and (max-width: 719px) {
    .es-kv__packshot {
      display: none;
    }
  }

  @media (max-width: 719px) {
    .es-kv__packshot img {
      max-height: 300px;
    }
  }

  @media (min-width: 600px) {
    .es-formule {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      margin-bottom: 80px;
    }
  }

  @media (min-width: 576px) {
    .es-features {
      padding-top: 50px;
      padding-bottom: 50px;
      margin-bottom: 50px;
      -webkit-box-align: start;
      align-items: flex-start;
      position: relative;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      gap: 10px;
      min-height: 400px;
      -webkit-box-align: center;
      align-items: center;

      &__inner {
        margin-top: -130px;
      }

      &__packshot {
        position: absolute;
        bottom: 0%;
        left: 49%;
        -webkit-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        max-width: 23%;
      }

      &__packshot {
        display: block;
      }

      &__line {
        display: block;
        position: absolute;
        bottom: 27%;
        left: 84%;
        z-index: -1;
        -webkit-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        max-width: 50%;
      }

      &__left,
      &__right {
        min-width: 50%;
      }
    }

    .es-features__bg {
      width: 100%;
      height: 100%;
    }

    .es-features__bg img {
      -o-object-position: center;
      object-position: center;
      height: 100%;
      width: 100%;
    }

    .es-features__title {
      width: 65%;
      margin-top: $padding-L;
      padding: $padding-XS;
      border-radius: 0 0 $padding-XS 0;
      max-width: 510px;
    }

    .es-features__wrapper {
      padding: $padding-L 0px $padding-L $padding-L;
      width: 65%;
      max-width: 510px;
    }

    .es-features__reference {
      padding-left: 70px;
    }

    .es-formula__bg {
      width: 100%;
    }

    .es-formula .es-header {
      max-width: -webkit-max-content;
      max-width: -moz-max-content;
      max-width: max-content;
      padding: 10px 44px;
      border-radius: 0 10px 0 0;
      margin: auto;
      margin-left: 0;
    }

    .es-formula__title {
      padding-top: $padding-L;
    }

    .es-formula__single {
      background-color: transparent;
      -webkit-backdrop-filter: unset;
      backdrop-filter: unset;
    }

    .es-cross__wrapper {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      -webkit-box-align: end;
      align-items: flex-end;
    }

    .es-cross__single {
      width: 33%;
      height: 100%;
      -webkit-backdrop-filter: unset;
      backdrop-filter: unset;
    }

    .es-cross__single img,
    .es-cross__name {
      -webkit-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;
    }

    .es-cross__single:hover {
      background-color: unset;
      box-shadow: unset;
    }

    .es-cross__single:hover img {
      scale: 1.1;
    }

    .es-cross__single:hover .es-cross__name {
      background-color: $color-blue;
    }

    .es-cross__desc {
      height: 4em;
    }
  }

  @media (min-width: 720px) {
    .es-kv {
      display: -webkit-box;
      display: flex;
      position: relative;
      min-height: 400px;
    }

    .es-kv__right {
      min-height: 400px;
      width: 100%;
    }

    .es-kv__left {
      width: 50%;
      position: absolute;
      margin: 0;
    }

    .es-kv__textWrapper {
      padding-top: 15px;
      padding-right: 15px;
    }

    .es-kv__packshot {
      position: absolute;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 18%;
      max-width: 170px;
    }

    .es-kv__left {
      text-align: left;
    }

    .es-kv__right img {
      height: 450px;
      -o-object-position: center;
      object-position: center;
    }

    .es-kv {
      &__right-img {
        &--mobile {
          display: none;
        }

        &--desktop {
          display: block;
        }
      }
    }

    .es-kv__logo {
      margin: 23px 25px;
      padding: unset;
      max-width: 120px;
    }

    .es-kv__title {
      font-size: 33px;
    }

    .es-header {
      font-size: 24px;
      padding-top: 10px;
      padding-bottom: 5px;
    }

    .es-header--bold {
      font-size: 23px;
    }

    .es-kv__header {
      font-size: 23px;
    }

    .es-kv__textWrapper {
      -webkit-box-align: end;
      align-items: flex-end;
    }

    .es-kv__text {
      max-width: 500px;
      font-size: 17px;
    }

    .es-features {
      &__text {
        font-size: 1.5em;
      }

      &__inner {
        padding-top: 30px;
      }

      &__right-title {
        margin-bottom: 0;
        font-size: 22px;
      }

      &__right-description {
        font-size: 17px;
        max-width: 430px;
        line-height: 1.4;
      }
    }

    .es-formula {
      margin-bottom: 100px;
      padding-bottom: 50px;
      position: relative;
      z-index: 0;

      &__bg {
        display: block;
        width: 140%;
      }
    }

    .es-formula__wrapper {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      padding: $padding-L;
      padding-top: 0;
      -webkit-box-pack: center;
      justify-content: center;
    }

    .es-formula__single {
      flex-basis: 50%;
      display: grid;
      align-content: flex-start;
      max-width: 420px;
    }

    .es-formula__single:hover {
      box-shadow: 1px 1px 15px 3px rgba(0, 0, 1, 0.1);
    }

    .es-cross {
      position: relative;
      z-index: 0;
      display: -webkit-box;
      display: flex;
      min-height: 530px;

      &__bg-mobile {
        display: none;
      }

      &__bg-desktop {
        display: block;
      }

      &__img {
        display: none;
      }
    }

    .es-cross__left {
      position: absolute;
      top: 0;
      right: 0;
      -webkit-box-pack: center;
      justify-content: center;
    }

    .es-cross__wrapper {
      padding: 0 $padding-S;
      width: 60%;
      margin: 0 auto;
    }

    .es-cross__single {
      -webkit-backdrop-filter: unset;
      backdrop-filter: unset;
      height: 100%;
      -webkit-box-pack: end;
      justify-content: flex-end;
      padding: $padding-XS 0;
    }

    .es-cross__name {
      font-size: 13px;
      padding: 6px 12px;
      width: 90%;
      height: 4em;
      display: grid;
      place-items: center;
    }

    .es-cross__desc {
      font-size: 11px;
      height: 4em;
    }

    .es-ekspert {
      padding-bottom: 50px;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
    }

    .es-ekspert__left {
      width: 54%;
    }

    .es-ekspert__right {
      width: 46%;
    }

    .es-ekspert__left img {
      height: 100%;
      max-height: 500px;
    }

    .es-formule {

      &__left-title-1,
      &__left-title-2,
      &__right-title-1,
      &__right-title-2 {
        font-size: 16px;
      }

      &__left-title-1 {
        top: 12%;
        left: 10%;
      }

      &__left-title-2 {
        top: 29%;
        right: -2%;
      }

      &__right-title-2 {
        right: 1%;
      }
    }
  }

  @media (min-width: 750px) {
    .es-cross__name {
      height: unset;
    }

    .es-ba {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      margin-bottom: 83px;

      &__left-title {
        margin-bottom: 30px;
        max-width: 400px;
        font-size: 23px;
      }

      &__right {
        margin-left: -30px;
      }
    }

    .es-ba {

      &__right-image {
        display: block;
      }

    }
  }

  @media (min-width: 992px) {
    .es-cross {
      &__wrapper {
        width: 61%;
      }

      &__desc {
        padding-top: 18px;
        font-size: 12px;
      }
    }

    .es-kv {
      &__right img {
        height: auto;
      }
    }

    .es-formula {
      &__bg {
        width: 100%;
      }
    }

    .es-bubbles {
      margin-top: -110px;
    }

    .es-cross {
      padding-bottom: 5px;
      margin-bottom: 100px;
    }

    .es-cross__left {
      padding-left: $padding-XXL;
      padding-right: 0;
    }
  }
}